### **Librerias**

In [30]:
import pandas as pd
import numpy as np

## **Etapa 0: Crear Data Set**

### PIB

In [31]:
PIB = pd.read_csv('./PIB.csv', sep=',',encoding='latin-1')
PIB = PIB[(PIB['year']>=2000) & (PIB['year']<=2020)]
PIB['year'] = PIB['year'].astype('int')
PIB['key'] = [(str((PIB.iloc[i,4])).lower()+'-'+str(PIB.iloc[i,6])) for i in range(len(PIB['year']))]

### Complejidad Economica

In [32]:
Data_ECI = pd.read_csv('./Complejidad Economica.csv')
Data_ECI = Data_ECI.transpose()
Data_ECI = Data_ECI[2:].transpose()
Data_ECI.dropna(inplace=True)

In [33]:
complexity = []
pais = []
año = []
for i in range(len(Data_ECI.iloc[:,:0])):
    for j in range(len(Data_ECI.iloc[0,:-3])):
        pais.append(Data_ECI.iloc[i,22])
        año.append(Data_ECI.columns[j])
        complexity.append(Data_ECI.iloc[i,j])
ECI = pd.DataFrame()
ECI['Pais'] = pais
ECI['ECI'] = complexity
ECI['año'] = año
ECI['key'] = [(str(ECI.iloc[i,0]).lower()+'-'+str(ECI.iloc[i,2])) for i in range(len(ECI['año']))]

### Poblacion

In [34]:
Data_Poblacion = pd.read_csv('./Poblacion.csv', sep=',',encoding='latin-1')
Data_Poblacion.dropna(inplace=True)

In [35]:
Poblacion = []
pais_p = []
año = []
for i in range(len(Data_Poblacion.iloc[:,:0])):
    for j in range(len(Data_Poblacion.iloc[0,4:-2])):
        pais_p.append(Data_Poblacion.iloc[i,0])
        año.append(Data_Poblacion.columns[j+4])
        Poblacion.append(Data_Poblacion.iloc[i,j+4])
Population = pd.DataFrame()
Population['Pais'] = pais_p
Population['Poblacion'] = Poblacion
Population['año'] = año
Population['key'] = [(str(Population.iloc[i,0]).lower()+'-'+str(Population.iloc[i,2])) for i in range(len(Population['año']))]

### Region

In [36]:
cordenada = pd.read_csv('./country-coord.csv', sep=',',encoding='latin-1')
cordenada

               Country  Latitude  Longitude
0          Afghanistan   33.0000       65.0
1              Albania   41.0000       20.0
2              Algeria   28.0000        3.0
3       American Samoa  -14.3333     -170.0
4              Andorra   42.5000        1.6
..                 ...       ...        ...
239  Wallis and Futuna  -13.3000     -176.2
240     Western Sahara   24.5000      -13.0
241              Yemen   15.0000       48.0
242             Zambia  -15.0000       30.0
243           Zimbabwe  -20.0000       30.0

[244 rows x 3 columns]

In [37]:
cordenada.iloc[0,2]

65.0

In [38]:
cordenada['Ecuador'] = [1 if (cordenada.iloc[i,1]<=27 and cordenada.iloc[i,1]>=-27) else 0 for i in range(len(cordenada['Country']))]
cordenada

               Country  Latitude  Longitude  Ecuador
0          Afghanistan   33.0000       65.0        0
1              Albania   41.0000       20.0        0
2              Algeria   28.0000        3.0        0
3       American Samoa  -14.3333     -170.0        1
4              Andorra   42.5000        1.6        0
..                 ...       ...        ...      ...
239  Wallis and Futuna  -13.3000     -176.2        1
240     Western Sahara   24.5000      -13.0        1
241              Yemen   15.0000       48.0        1
242             Zambia  -15.0000       30.0        1
243           Zimbabwe  -20.0000       30.0        1

[244 rows x 4 columns]

### Union DataFrames

In [39]:
Data_final = PIB.merge(Population,left_on='key',right_on='key').merge(ECI,left_on='key',right_on='key')
Data_final = Data_final[['Pais_x', 'year', 'total_gdp_million', 'Poblacion','ECI']]
Data_final

      Pais_x  year  total_gdp_million   Poblacion       ECI
0     Angola  2000        9129.594819  16394062.0 -2.181599
1     Angola  2001        8936.063723  16941587.0 -2.318456
2     Angola  2002       15285.594830  17516139.0 -2.310729
3     Angola  2003       17812.704830  18124342.0 -1.994777
4     Angola  2004       23552.047250  18771125.0 -1.942882
..       ...   ...                ...         ...       ...
499  Uruguay  2016       57236.652490   3413766.0  0.171266
500  Uruguay  2017       64233.966860   3422200.0  0.220078
501  Uruguay  2018       64515.038270   3427042.0  0.077529
502  Uruguay  2019       61231.149880   3428409.0  0.008906
503  Uruguay  2020       53560.755050   3429086.0 -0.004141

[504 rows x 5 columns]