### **Librerias**

In [38]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 20

## **Etapa 0: Crear Data Set**

### PIB

In [39]:
PIB = pd.read_csv('./Datos/PIB.csv', sep=',',encoding='latin-1')
PIB = PIB[(PIB['year']>=2000) & (PIB['year']<=2020)]
PIB['year'] = PIB['year'].astype('int')
PIB['key'] = [(str((PIB.iloc[i,4])).lower()+'-'+str(PIB.iloc[i,6])) for i in range(len(PIB['country_name']))]
PIB = PIB.sort_values(by=['country_name'])
PIB.shape

(4410, 11)

### Complejidad Economica

In [40]:
Data_ECI = pd.read_csv('./Datos/ECI_Data.csv',sep=',',encoding='latin-1')
Data_ECI = Data_ECI.transpose()
Data_ECI = Data_ECI[2:].transpose()
Data_ECI.dropna(inplace=True)

In [41]:
complexity = []
pais = []
año = []
for i in range(len(Data_ECI.iloc[:,:0])):
    for j in range(len(Data_ECI.iloc[0,:-3])):
        pais.append(Data_ECI.iloc[i,22])
        año.append((Data_ECI.columns[j]))
        complexity.append(Data_ECI.iloc[i,j])
ECI = pd.DataFrame()
ECI['Pais'] = pais
ECI['ECI'] = complexity
ECI['año'] = año
ECI['año'] = ECI['año'].astype('int')
ECI['key'] = [(str(ECI.iloc[i,0]).lower()+'-'+str(ECI.iloc[i,2])) for i in range(len(ECI['año']))]
ECI = ECI.sort_values(by=['Pais'])
ECI.shape

(1953, 4)

### Poblacion

In [42]:
Data_Poblacion = pd.read_csv('./Datos/Poblacion_Data.csv', sep=',',encoding='latin-1')
Data_Poblacion.dropna(inplace=True)

In [43]:
Poblacion = []
pais_p = []
año = []
for i in range(len(Data_Poblacion.iloc[:,:0])):
    for j in range(len(Data_Poblacion.iloc[0,4:-2])):
        pais_p.append(Data_Poblacion.iloc[i,0])
        año.append(int(Data_Poblacion.columns[j+4]))
        Poblacion.append(Data_Poblacion.iloc[i,j+4])
Population = pd.DataFrame()
Population['Pais'] = pais_p
Population['Poblacion'] = Poblacion
Population['año'] = año
Population['key'] = [(str(Population.iloc[i,0]).lower()+'-'+str(Population.iloc[i,2])) for i in range(len(Population['año']))]
Population = Population.sort_values(by=['Pais'])

### Region

In [44]:
cordenada = pd.read_csv('./Datos/country-coord.csv', sep=',',encoding='latin-1')
cordenada['country'] = [(str(cordenada.iloc[i,0]).lower()) for i in range(len(cordenada['Country']))]
cordenada.shape

(244, 4)

In [45]:
cordenada.iloc[0,2]

65.0

In [46]:
cordenada['Ecuador'] = [1 if (cordenada.iloc[i,1]<=27 and cordenada.iloc[i,1]>=-27) else 0 for i in range(len(cordenada['country']))]

### Union DataFrames

In [47]:
Data_final = PIB.merge(Population,left_on='key',right_on='key').merge(ECI,left_on='key',right_on='key')
Data_final = Data_final[['Pais_x', 'Poblacion', 'total_gdp_million','ECI','año_x']]
Data_final['country'] = [(str(Data_final.iloc[i,0]).lower()) for i in range(len(Data_final['Pais_x']))]
Data_final = pd.merge(Data_final, cordenada, on ='country', how ='inner')
Data_final = Data_final[['Pais_x', 'Poblacion', 'total_gdp_million','ECI','año_x','Ecuador']]
Data_final.sort_values(by=['Pais_x','año_x'])

        Pais_x   Poblacion  total_gdp_million       ECI  año_x  Ecuador
2      Algeria  30774621.0        54790.39275 -1.064802   2000        0
3      Algeria  31200985.0        54744.71281 -0.804064   2001        0
4      Algeria  31624696.0        56760.35587 -0.994074   2002        0
5      Algeria  32055883.0        67863.82841 -0.914542   2003        0
6      Algeria  32510186.0        85332.58119 -1.071765   2004        0
...        ...         ...                ...       ...    ...      ...
1557  Zimbabwe  14452704.0        20548.67807 -0.756970   2016        1
1556  Zimbabwe  14751101.0        17584.89094 -0.782292   2017        1
1555  Zimbabwe  15052184.0        34156.06992 -0.826599   2018        1
1567  Zimbabwe  15354608.0        21832.23493 -0.798137   2019        1
1574  Zimbabwe  15669666.0        21509.69841 -0.893569   2020        1

[1575 rows x 6 columns]